
{{> head }}
    
    {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>La tecnologia con la que voy a trabajar (espero, muy pronto) </h1>

            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, cupiditate voluptates. Quam, dolorum. Eius maiores et corrupti nobis, facere nisi illum vel, perspiciatis, in consequatur quasi deleniti accusamus! Accusantium, omnis.
            </p>
        
        </div>

        <div class="col-4">
            <img src="assets/img/node.png" alt="imagen de node" class="img-thumbnail">
        </div>


    </div>

    {{> foot }}

